{% if article.footnt %}
<hr/>
<div class="footnt">

<p>TNT Village è l'unica piattaforma al mondo di scambio etico per le opere della conoscenza umana.</p>

<p>TNTvillage è nato per affermare il diritto e sostenere la legge: è
l'affermazione politica dei cittadini della rete che non accettano di
essere meri consumatori di un mercato costruito sullo sfruttamento.</p>

<p>TNTvillage è nato per affermare il diritto dei cittadini di
preservare, curare e condividere la conoscenza, come diritto
fondamentale dell'Uomo nella società della conoscenza.</p>

<p>Per informazioni: <a href="http://scambioetico.org">http://scambioetico.org</a></p>
<p>Il forum: <a href="http://forum.tntvillage.scambioetico.org">http://forum.tntvillage.scambioetico.org</a></p>
<p>La release list: <a href="http://tntvillage.scambioetico.org/?releaselist.php">http://tntvillage.scambioetico.org/?releaselist.php</a></p>
</div>

{% endif %}
